.part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 80%;
}

.button {
    align-self: flex-end;
    margin-top: 0.1rem;
    right: 0;
    width: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap : 1rem;
    flex-grow: 1;
}

.item {
    display: flex;
    margin: 0.2rem;
    justify-content: left;
}

.text {
    color: var(--text);
}

.delete {
    background: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.proposition{
    display : flex;
    border-radius: 0.3rem;
    background-color: var(--on-background);
}
.proposition > * {
    display: flex;
    align-items: center;
    margin : 0.3rem;
}

.chevron {
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 0.28rem;
    line-height: 40px;
}