.button {
    color : var(--text);
    border: 3px solid var(--primary);
    border-radius: 0.5rem;
    padding : 0.4rem 0.7rem;
    transition : 0.3s background-color;
    background-color: var(--primary);
}

.button:hover {
    border: 3px solid var(--primary);
    transition : 0.3s background-color;
    background-color: transparent;
}

.button:active {
    color : var(--primary);
    background-color: transparent;
}

.button:disabled{
    color : var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}